<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNGXMLTest Test Suite" >

	<test name="Test1" >
    <classes>

       <class name="BasicValidation" />
       <class name="Trial" />
       <class name="CrudOperations" />

    </classes>

  </test>

</suite>